html{
    scroll-behavior: smooth;
}
.relative {
    padding: 10px;
    position: relative;
    background-color: #111111;
    margin: -10px;

}

body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}


h1{
    /* Heading CSS */
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2{
    /* Heading CSS */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #eeeeee;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    /* text-shadow: 3px 3px 3px #0e0e18; */
}

h3{
    /* Heading font for CSS */
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #eeeeee;
    font-size: 30px;
    text-align:right;
    margin: 20px;
    padding: 0px;
}

h4{
    /* Heading CSS */
    font-family: 'Exo', sans-serif;
    color: #eeeeee;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
    padding: 30px;
    margin-bottom: 10px;
}

/* Last refresh name*/
h5{
    /* Heading CSS */
    font-family: 'Nunito', sans-serif;
    color: #eeeeee;
    font-size: 8px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

p{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #edf2f4;
    background-color: #1c1c31;
    text-align: center;
    padding: 2.5%;
    margin: 2%;
}


.Bbuttons {
    display: inline-block;
    width: 300px;
    height: 70px;
    padding: 16px 32px;
    margin: 10px 7px;
    text-align: center;
    cursor:pointer;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    border: solid;
    background-color: #292929;
    border-color: #eeeeee;
    border-radius: 5px;
    text-decoration: none;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    justify-content: center; 
    color: #eeeeee;
}

.Bbuttons:hover{
    color: #111111;
    border-color: #5d5d5d;
    background-image: linear-gradient(to right, #eeeeee 0%, #eeeeee 100%);
    border-radius: 50px;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -15px;
    background-color: #000000;

}

li,a {
    color: #eeeeee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:600;
    font-size: 25px;
    text-decoration: none;
}
.navLinks li{
    list-style:none;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border: 3px  #eeeeee;
    border-style:dashed;
}
.navLinks li a{
    padding: 20px;
    transition: all 0.3s ease 0s;
}
.navLinks li a:hover{
    color: #111111;
}
.navLinks li:hover{
    background-color: #eeeeee;
    border-style: solid;
}

footer{

    color: #f0f0f0;
    margin: -20px;
    padding: 50px;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    background-color: #000000;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
} 
::-webkit-scrollbar-track {
    background: #0f1519;
}