.relative {
    padding: 10px;
    position: relative;
    background-color: #0f1519;
    margin: -10px;
}

body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  
}


h1{
    /* Heading CSS */
    font-family: 'Roboto Slab', serif;
    background: -webkit-linear-gradient(#608060,#ffcc66);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: #f7b801; */
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2{
    /* Heading CSS */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffcc66;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-shadow: 3px 3px 3px #0e0e18;
}

h3{
    /* Heading font for CSS */
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffcc66;
    font-size: 30px;
    text-align:right;
    margin: 30px;
    text-shadow: 3px 3px 3px #0e0e18;
}

h4{
    /* Heading CSS */
    font-family: 'Exo', sans-serif;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
    padding: 30px;
    margin-bottom: 10px;
}

/* Last refresh name*/
h5{
    /* Heading CSS */
    font-family: 'Nunito', sans-serif;
    color: #f0f0f0;
    font-size: 13px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

p{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #edf2f4;
    background-color: #1c1c31;
    text-align: center;
    padding: 2.5%;
    margin: 2%;
}


.Bbuttons {
    display: inline-block;
    width: 300px;
    height: 70px; 
    padding: 16px 32px;
    margin: 10px 7px;
    text-align: center;
    color: #ffffff;
    cursor:pointer;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: none;
    border-color: #edf2f4;
    border-radius: 5px;
    text-decoration: none;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    justify-content: center; 
    background-image: linear-gradient(to right, #273427 0%, #394c39 100%);
}

.Bbuttons:hover{
    background-image: linear-gradient(to right, #f7b801 0%, #00ebd8 100%);
    color: rgb(126, 126, 126);
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    border-radius: 50px;
    border-color: #ffd70c;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -15px;
    background-color: #131b21;

}
footer{

    color: #f0f0f0;
    margin: -20px;
    padding: 20px;
    font-family: 'Barlow', sans-serif;
    background-color: #000000;
}

li,a {
    color: #7ca87c;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:600;
    font-size: 130%;
    text-decoration: none;
}
.navLinks li{
    list-style:none;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 3px  #dba63c;
    border-style:solid;
}
.navLinks li a{
    padding: 20px;
    transition: all 0.3s ease 0s;
}
.navLinks li a:hover{
    /* color: #ffd70c; */
    background: -webkit-linear-gradient(#fbff05, #3effef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.navLinks li:hover{
    border: 3px  #ffd70c;
    /* color: -webkit-linear-gradient(#fbff05, #3effef); */
    border-style: solid;
}


::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    }
::-webkit-scrollbar-track {
background: #0f1519;
}